
h1{
	color:#C2088F;
}
i{
	color:#C2088F;
}

.sele{
	color: black;
    background-color: #d8c0d2;
    width: 100%;
    height: 50%;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
}

.nav{
	background-color: white;
}

a{
	color: white;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
	color: white;
	text-decoration: none;
}

.link{
	color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.link:hover{
	color: #007bff;
	text-decoration: none;
}

.navbar_dark {
	background: #00000080;
	color: #000000;
	font-size: 30px;
}

.navbar-collapse{
	justify-content: right;
}

.navbar-nav {
	margin-right: 0%;
}

.navButton {
	justify-content: flex-end;
}

.LoginButton1 {
	margin-left: 15px;
	color: white;
	border-color: white;
	
}

.LoginButton1:hover {
	color: white;
	border-color: white;
	background-color: green;
}

.RegisterButton2 {
	margin-left: 15px;
	color: black;
	border-color: white;
	background-color: white
}

.RegisterButton2:hover {
	color: black;
	border-color: white;
	background-color: white;
}

.LogoutButton3 {
	margin-left: 94px;
	color: red;
	border-color: red;
}

.LogoutButton3:hover {
	border-color: red;
	background-color: red;
}

@media screen and (max-width: 992px){
	.navButton3 {
		margin-left: 0px;
	}
}

/*
.navbar-collapse ul {
    background-color: black;
}
 */
   
/* LOGO */
.navbar_brand {
    font-size: 35px;
    justify-content: left;
    color: white;
}

.container-fluid {
	background: black;
	margin: 0px;
	color: white;
	font-size: 20px;
}

.container {
	padding: 30px 50px 50px 50px;
}

.title {
	text-align: center; 
	margin: 40px 0px;
	
}

.contattiText {
	padding: 80px 0px 60px 0px;
	right:500px
}

body {
	font-family: Bold;
	color: white;
	margin: 0;
	background: url('/images/Nuovo.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

input {
    font-family: Bold;
}

.loginbutton {
    font-family: Bold;
    font-size: 16px;
    color: #fff;
    justify-content: center;
    padding: 0 20px;
    height: 62px;
    background-color: #C2088F;
    border-radius: 5px 5px 5px 5px;
    transition-duration: 0.4s;
    width: 100%;
    border: none;
}

.loginbutton:hover {
	background-color: white;
	color:#C2088F;
}

.logincontainer{
    margin-bottom: 400px;
}

.logincontainer, .contatti{
	width: 100%;
	display: flex;
    justify-content: center; /* stessa cosa di text align per i contenitori */
	align-items: center;
}

.logincontainer .itemLogin, .contattiItem{
	padding: 20px;
}

.logincontainer input {
	width: 100%;
    font-size: 18px;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 15px;
    background-color:#d8c0d2;
    border: none;
}


input:focus-visible {
    outline: none; /* bordo input text */
}

.socialbutton {
    padding: 20px 35px;
    border-radius: 5px;
    background-color: rgb(230, 225, 225);
    margin-bottom: 20px;
    font-size: 14px;
    border: none;
    text-align: center;
    width: 100%;
}

.divider {
    height: 200px;
    width: 2px;
    opacity: .8;
    background-color: #858f96;
}

.dividerContatti {
	margin: 50px 0px 50px 50px;
}

.nav_link {
    text-decoration: none;
    color:white;
    background-color: transparent;
    display: block;
    padding: 0.5rem 1rem;
}
.nav_link:hover{
	text-decoration: none;
    color:white;
}

.logo {
    margin: 0px 18px -4px -10px;
}

.socialbutton:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.fb {
    background-color: #3b5998;
    color: white;
}

.fb:hover {
    box-shadow: 0 -1px 0 #3b5998, 0 2px 4px #3b5998;
}

.fblogo {
    width: 18px;
}

.homepage {
    display: flexbox;
}

.image {
    width: 100%;
    margin: 0;
}

.button {
    border-radius: 5px;
    background-color: #827ffe;
    width: 100%;
    height: 30px;
    border: none;
    transition-duration: 0.4s;
    color: white;
    justify-content: right;
}

.button:hover {
	background-color: #403866;
}

.right {
    width: 5%;
}

.map {
	margin-top: 20px;
	margin-bottom: 30px;
	border-style: outset;
	border-width: 5px;
	margin-right: 20px;
}

.alert{
	padding: 15px;
 	margin-bottom: 20px;
  	border: 1px solid transparent;
  	border-radius: 4px;
}

.alert-danger{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: center;
}