<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thyneleaf.org">

<head>
	<link rel="stylesheet" href="/css/indexStyle.css">
	<meta charset="UTF-8">
	<title>Discotech</title>
</head>

<body>
	<div class="column1">
		<h1>Discotech</h1>
	</div>
	<div class="column2">
		<h3>Benvenuto in Discotech,</h3>
		<h4>la pi&#249; grande libreria musicale del web!</h4>
		<p><a th:href="@{/login}">Login</a></p>
		<p><a th:href="@{/registrazione}">Registrati</a></p>
		<p><a th:href="@{/autori}">Autori</a>
	</div>
</body>

</html>
-->
<!--
<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/indexStyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Discotech</title>
</head>
<body>
<div class = "row">
	<div class = "column">
	<h1>Discotech</h1>
	</div>
	<div class = "column">
	<h3>Benvenuto in Discotech,</h3>
	<h4>la pi&#249; grande libreria musicale del web!</h4>
	<p><a href="/login">Login</a></p>
	<p><a href="/register">Registrati</a></p>
	<p><a href="/home">Autori</a></p>
	</div>
</div>
</body>
</html>
-->

<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/indexStyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Discotech</title>
</head>

<body>
	<div class="inner cover pad">
		<h1 class="cover-heading">Discotech</h1>
		<h3>la pi&#249; grande libreria musicale del web!</h3>
		<p class="lead">
			<a href="/home" class="cl btn btn-lg btn-default ">Entra nel sito</a>
		</p>
	</div>
</body>

</html>