<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Register</title>
	<link rel="stylesheet" href="/css/loginStyle.css">


</head>

<body>

	<div class="container">
		<div class="form" id="registrazione">
			<h1>Registration</h1>
			<div>

				<form th:action="@{/registrazione}" method="post" th:object="${credenziali}">
					<div class="login">
						<!-- success message -->
						<div th:if="${param.success}">
							<div class="alert alert-info">You've successfully registered!</div>
						</div>
						<div class="form__input-group">
							<input id="firstName" class="form__input" type="text" th:field="*{firstName}"
								placeholder="Enter FirstName" required autofocus="autofocus" />
						</div>

						<div class="form__input-group">
							<input id="lastName" class="form__input" type="text" th:field="*{lastName}"
								placeholder="Enter LastName" required autofocus="autofocus" />
						</div>

						<div class="form__input-group">
							<input id="email" class="form__input" type="email" th:field="*{email}"
								placeholder="Enter Email" required autofocus="autofocus" />
						</div>

						<div class="form__input-group">
							<input id="password" class="form__input" type="password" th:field="*{password}"
								placeholder="Enter Password" required autofocus="autofocus" />
						</div>
					</div>
					<div class="boxButton">
						<div>
							<button type="submit" class="button">Register</button>
						</div>
						<div class="loginRegister">
							<span>Already registered? <a href="/" th:href="@{/login}">Login
									here</a></span>
						</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>